.time {
    text-align: center;
    padding: 32px;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}


  
  .colaboradores {
    display: flex;
    flex-wrap: wrap;  /* Permite que os cards quebrem para a próxima linha se não couberem na largura da tela */
    justify-content: space-around;  /* Distribui os cards ao longo da linha com espaço ao redor */
  }
  


