.planoestudo { 
    text-align: center;
    padding: 80px;
    background-color: #D9F7E9;
    margin-top: 85px;
    border-radius: 20px;
    margin: 80px 0;

    
}

h3  {
    
        font-size: 32px;
        border-bottom: 4px solid #57C278;
       
        padding-bottom: 8px;
      
    }


